# Dependencies
node_modules/
**/node_modules/

# Environment Variables & Secrets
.env
.env*.local
**/.env
**/.env.local
**/.env.development.local
**/.env.test.local
**/.env.production.local
!.env.example
!**/.env.example

# Build outputs
dist/
**/dist/
.next/
**/.next/
out/
build/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS & Editor Files
.DS_Store
Thumbs.db
.vscode/*
!.vscode/extensions.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Temporary files & caches
.turbo
.eslintcache
*.tsbuildinfo
